body {
	line-height: 1;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
@media (max-width: 960px) {
div{
    width: 478px;
    text-align: center;
    background-color: rgb(168, 163, 163);
    border: 1px solid rgb(75, 68, 68);
}

header div{
    height: 75px;
    line-height: 75px;
    border: 1px solid rgb(75, 68, 68);
}
}
@media (min-width: 768px) {
    
    div{
        text-align: center;
        background-color: rgb(90, 109, 170);
    }
    header div{
        width: 959px;
        height: 99px;
        line-height: 99px;
        border: 1px solid rgb(7, 36, 100);
    }
  
}