@media (max-width: 960px) {

body{
    width: 70%;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

#footer{
    height: 80px;
    display: grid;
    align-items: center;
    border: 1px solid rgb(75, 68, 68);
}

}
@media (min-width: 768px) {
    body{
        width: 70%;
        margin: 0px auto;
        padding: 60px 0px 60px 0px;
    }
   
    #footer{
        width: 758px;
        height: 148px;
        display: grid;
        align-items: center;
        border: 1px solid rgb(7, 36, 100);
    }
}