@media (max-width: 960px) {

#b{
    height: 150px;
    display: grid;
    align-items: center;
    border: 1px solid rgb(75, 68, 68);
}
aside{
    width: 239px;
    height: 250px;
    display: grid;
    align-items: center;
    text-align: center;
    background-color: rgb(168, 163, 163);
    border: 0.5px solid rgb(75, 68, 68);
}
#sec2{
    display: grid;
    grid-template-columns: 240px 240px;
}
.cd{
    height: 125px;
    display: grid;
    align-items: center;
    border: 1px solid rgb(75, 68, 68);
}
}
@media (min-width: 768px) {
    #b{
        width: 199px;
        height: 599px;
        display: grid;
        align-items: center;
        border: 1px solid rgb(7, 36, 100);
        float: left;
    }
    aside{
        width: 189px;
        height: 249px;
        text-align: center; 
        background-color: rgb(90, 109, 170);
        border: 0.5px solid rgb(7, 36, 100);
        display: grid;
        align-items: center;
    }
    #sec2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .cd{
        width: 378px;
        height: 199px;
        border: 1px solid rgb(7, 36, 100);
        display: grid;
        align-items: center;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #sec1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #sec3{
        display: grid;
        grid-template-columns: 1fr;
    }
}