div{
    width: 478px;
    text-align: center;
    background-color: rgb(168, 163, 163);
    border: 1px solid rgb(75, 68, 68);
}
header div{
    height: 75px;
    line-height: 75px;
}
aside{
    width: 239px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    float: left;
    background-color: rgb(168, 163, 163);
    border: 0.5px solid rgb(75, 68, 68);
}
#b{
    height: 150px;
    line-height: 150px;
}
.cd{
    height: 125px;
    line-height: 125px;
}
footer div{
    clear: both;
    height: 80px;
    line-height: 80px;
}

@media (min-width: 768px) {
    body{
        width: 80%;
        margin: 0px auto;
    }
    div{
        text-align: center;
        background-color: rgb(90, 109, 170);
    }
    
    header div{
        width: 959px;
        height: 99px;
        line-height: 99px;
        border: 1px solid rgb(7, 36, 100);
    }
    aside{
        width: 189px;
        height: 249px;
        text-align: center;
        line-height: 249px;
        background-color: rgb(90, 109, 170);
        display: inline-block;
        float: left;
        border: 0.5px solid rgb(7, 36, 100);
    }
   #b{
        width: 199px;
        height: 599px;
        line-height: 599px;
        float: left;
        border: 1px solid rgb(7, 36, 100);
    }
    .cd{
        width: 378px;
        height: 199px;
        line-height: 199px;
        float: left;
        border: 1px solid rgb(7, 36, 100);
    }
    footer div{
        width: 758px;
        height: 148px;
        line-height: 148px;
        display: inline-block;
        border: 1px solid rgb(7, 36, 100);
    }
}